{% from 'bootstrap4/form.html' import render_field %}
<form method="post" action="" id="loginForm" novalidate>
  <fieldset>
    {{ form.hidden_tag() }}
    <!-- prettier-ignore -->
{% if not reset %}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {% else %}
    {{ render_field(form.email) }}
    {% endif %}
    
  </fieldset>
  <div class="row login__btn-group">
    <div class="col-sm-12">
      <button class="btn btn-primary narrow" type="submit">
        <!-- prettier-ignore -->
        {% if not reset %}
        {% trans %}Log in{% endtrans %}
        {% else %}
        {% trans %}Reset Password{% endtrans %}
        {% endif %}
      </button>
      {% if not reset %}
      <a rel="nofollow" class="link--styled" href="{{ url_for('account.resetpwd') }}">
        {% trans %}Forgot password?{% endtrans %}
      </a>
      {% endif %}
      <hr />
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-6 col-md-12 col-xl-6">
    <button class="btn social-btn google" id="authorize_button">
      <svg data-src=" {{ url_for('static', filename='img/social/login/google.svg' ) }}" width="18" height="18" />
      <small>Google</small>
    </button>
  </div>
  <div class="col-sm-6 col-md-12 col-xl-6">
    <button class="btn social-btn facebook">
      <div class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();"
        data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false">
        Login</div>
    </button>
    
    <div id="fb-root"></div>
    
  </div>
</div>

